<div class="content">
  <div class="d-flex p-3 align-items-center justify-content-around w-100">
    <div
      class="images d-flex flex-grow-1 flex-column align-items-center justify-content-start w-50"
    >
      <div>
        <img class="laptop1" src="./../../../../assets/soma-1.png" />
      </div>
      <div>
        <img class="phone1" src="./../../../../assets/soma-3.jpg" />
      </div>
      <div>
        <img class="laptop2" src="./../../../../assets/soma-2.png" />
      </div>
      <div>
        <img class="phone2" src="./../../../../assets/soma-4.jpg" />
      </div>
    </div>
    <div class="text w-50 flex-grow-1"></div>
  </div>
</div>
