.content {
  height: 80vh;
  background-color: var(--custom-background);
  margin: auto 10%;
  border-radius: 2rem;
  img.laptop1 {
    width: 85%;

    position: relative;
  }
  img.laptop2 {
    width: 85%;
    float: right;
    margin-top: -3rem;
    position: relative;
    margin-right: 0.5rem;
  }
  img.phone1 {
    width: 33%;
    position: relative;

    float: right;
    margin-top: -4rem;

    z-index: 3;
  }
  img.phone2 {
    width: 33%;

    position: relative;

    margin-top: -6.5rem;
    margin-right: 3rem;
  }
}
