<nav class="navbar navbar-expand-lg p-2">
  <div class="d-flex justify-content-between align-items-center h-100 w-100">
    <a class="navbar-brand" href="/">
      <img class="h-100" src="./../../../../assets/letter-l.png" />
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="/">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Contact</a>
      </li>
    </ul>
  </div>
</nav>
