nav {
  padding: 2rem;

  .navbar-brand {
    img {
      height: 100%;
      max-height: 4rem;
    }
  }

  li {
    list-style: none;
    .active {
      font-size: 1.6rem;
      text-shadow: 3px 3px 2px var(--bs-body-bg);
    }
    a:hover:not(.active) {
      font-size: 1.6rem;
      text-shadow: 3px 3px 2px var(--bs-body-bg);
    }
  }
}

@media only screen and (max-width: 480px) {
  nav {
    padding: 1.5rem;
    img {
      width: 3rem;
    }
    li {
      .active {
        font-size: 1.1rem;
      }
      a:hover:not(.active) {
        font-size: 1.1rem;
        text-shadow: 3px 3px 2px var(--bs-body-bg);
      }
    }
  }
}
