<nav class="navbar navbar-expand-lg">
  <div class="d-flex justify-content-between align-items-center h-100 w-100">
    <a class="navbar-brand" routerLink="/">
      <img src="./../../../../assets/letter-l.png" />
    </a>
    <ul class="nav justify-content-end align-items-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills" routerLinkActive="active"
          >Skills</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects" routerLinkActive="active"
          >Projects</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact" routerLinkActive="active"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
