.content {
  margin: auto 10%;
  border-radius: 2rem;
  img {
    height: 50px;
    width: 50px;
  }
  .section {
    height: 80vh;
    background-color: var(--custom-background);
    border-radius: 1rem;
  }
}
