<div class="content">
  <div class="d-flex h-100 align-items-center">
    <div class="image w-50">
      <img src="./../../../../assets/profile-min.webp" alt="profile picture" />
    </div>
    <div class="text w-50">
      <h1>Hi!</h1>
      <h3>My name is Esther "Chena" Lonyangapuo</h3>
      <h4>Full-Stack Developer | Graphic Designer</h4>
      <p>
        I'm a full-stack developer with a passion for creativity and
        engineering. Experienced in Typescript/Javascript with a focus on
        Angular and React Frameworks. Open to new technologies and development
        opportunities.
      </p>
    </div>
  </div>
</div>
>
