<div class="content">
  <div class="overall d-flex h-100 align-items-center">
    <div class="profile-image image">
      <img
        src="./../../../../assets/profile-min.webp"
        title="Click on any link on the header to see my details!"
        alt="profile picture"
      />
    </div>
    <div class="text">
      <h1 style="font-size: 2.2rem">Hi!</h1>
      <h3 style="font-size: 1.7rem">My name is Esther "Chena" Lonyangapuo</h3>
      <h4 style="font-size: 1.2rem">Full-Stack Developer | Graphic Designer</h4>
      <hr class="dotted" />
      <p>
        I'm a full-stack developer with a passion for creativity and
        engineering. Experienced in Typescript/Javascript with a focus on
        Angular and React Frameworks. Open to new technologies and development
        opportunities.
      </p>
    </div>
  </div>
</div>
>
