/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

:root,
[data-bs-theme="light"] {
  --bs-body-bg: #3b0a2c;
  --bs-link-color: #fff;
  --custom-background: #fbd1ff;
}

body {
  min-height: 100vh;
}
