/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Rancho&display=swap");

:root,
[data-bs-theme="light"] {
  --bs-body-font-family: Rancho, cursive, Inter, system-ui, Avenir, Helvetica,
    Arial, sans-serif;
  --bs-body-bg: #3b0a2c;
  --bs-body-font-size: 1.2rem;
  --bs-link-color: #fff;
  --custom-background: #fbd1ff;
  --bs-link-hover-color: #fff;
}

.btn-primary {
  --bs-btn-bg: #3b0a2c;
  --bs-btn-border-color: #3b0a2c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #300523;
  --bs-btn-hover-border-color: #300523;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #300523;
  --bs-btn-active-border-color: #0a53be;
}
